/* .scroll-animation {
	animation: fadeIn 4s ease-in-out 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1 !important;
		transform: translateY(0);
	}
} */
