#parish {
	width: 100%;
	height: auto;
	max-width: var(--max);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10rem 3rem;
	text-align: left;
}

#parish-header {
	margin-bottom: 6rem;
}

#parish-header h4,
#parish-header h1 {
	line-height: 1em;
}

#parish a {
	font-family: 'Cinzel', serif;
}

#parish h3 a {
	font-size: var(--h3-font);
	letter-spacing: 0.1em;
}

#parish h4 {
	margin-top: 1.61rem;
}

#parish h4 a {
	font-size: var(--h4-font);
	letter-spacing: 0.14em;
}
