@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400;700&display=swap');

:root {
	--max: 1400px;
	--min: 320px;

	--light: hsla(0, 100%, 99%, 1);
	--light-opaque: hsla(0, 100%, 99%, 0.9);

	--light-alt: hsla(36, 100%, 95%, 1);
	--accent: hsla(359, 59%, 31%, 1);
	--accent-alt: hsla(0, 60%, 19%, 1);
	--dark: hsla(210, 8%, 14%, 1);
	--dark-alt: hsla(0, 60%, 4%, 1);
	--dark-opaque: hsla(0, 60%, 4%, 0.7);

	--gradient-accents: linear-gradient(90deg, var(--accent), var(--accent-alt));
	--gradient-alts: linear-gradient(90deg, var(--light-alt), var(--dark-alt));

	color-scheme: light dark;
	color: var(--dark);
	background-color: var(--light);

	font-family: 'Cinzel', serif;
	font-family: 'Cardo', serif;
	line-height: 1.5;
	font-weight: 100;

	--h1-font: clamp(4.234rem, 3.6064rem + 3.1377vw, 6.352rem);
	--h2-font: clamp(2.617rem, 2.2291rem + 1.9393vw, 3.926rem);
	--h3-font: clamp(1.618rem, 1.3783rem + 1.1985vw, 2.427rem);
	--h4-font: clamp(1.1rem, 0.95rem + 0.75vw, 1.7rem);
	--normal-font: clamp(1rem, 0.911rem + 0.444vw, 1.3rem);
	--small-font: 1rem;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	cursor: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	overflow-x: hidden;
}
