h2,
h3,
h4 {
	font-weight: 100;
	font-family: 'Cardo', serif;
}

h1 {
	font-family: 'Cinzel', serif;
	font-weight: 100;

	text-transform: uppercase;
	font-size: var(--h1-font);
	letter-spacing: 0.05em;
}

h2 {
	font-size: var(--h2-font);
	letter-spacing: 0.06em;
}

h3 {
	font-size: var(--h3-font);
	letter-spacing: 0.1em;
}

h4 {
	font-size: var(--h4-font);
	letter-spacing: 0.14em;
}

p {
	font-size: var(--normal-font);
	font-family: 'Cardo', serif;
	letter-spacing: 0.05em;
	line-height: 2rem;
	font-weight: 400;
	/* opacity: 0; */
}

.small-font {
	font-size: var(--small-font);
	font-style: italic;
}
